/*30394F*/
/*FF434C*/
/*6ACEEB*/
/*6ACEEB*/
/*FFFBED*/

#index {
    color: #30394F;
    color: #ffa70b;
    color: #FF434C;
    color: #6ACEEB;
    color: #EDE8DF;
    color: #FFFBED;
}

body {
    overflow: auto;
    background-size: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS, serif;

}

.head {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    padding-top: 10px;
    box-shadow: 0 1px 1px 1px #151515;

}

.head a img {
    width: 60px;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 50px;
}

#context {
    position: relative;
    /*border: 3px solid #6ACEEB;*/
    /*overflow: auto;*/
    top: 105px;
    left: 300px;
    max-width: 1200px;
    min-width: 300px;
    min-height: calc(100vh - 170px);
    background-color: white;
}

#bottom {
    position: relative;
    top: 120px;
    right: 0;
    left: 0;

    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 -1px 1px 1px #30394f;

}

#button-menu-group {
    padding-left: 150px;
    padding-top: 0;
    width: 80%;
}

.btnMenu {
    margin-top: 7px;
    margin-left: -5px;
    width: 15%;
    height: 50px;
    list-style: none;
    border-radius: 0;
    border-width: 0;
    color: #ffa70b;
    background-color: #ffffff;
    font-size: 110%;
    outline: none;
}

.btnMenu:hover {
    border-width: 0;
    /*box-shadow: 0 10px 10px -5px rgba(106, 206, 235, 0.8);*/
    background-color: rgba(237, 232, 223, 0.35);
    cursor: hand;
}

.btnMenu:active, .btnMenu:active {
    /*border-width: 0;*/
    /*box-shadow: 0 10px 10px -3px #FF434C;*/
    text-shadow: 0 0 1px #FF434C;

}

.table-production td {
    border: none;
    width: 250px;
    height: 300px;

}

.div-production {
    width: 200px;
    height: 210px;

    box-shadow: 0 10px 10px -3px rgba(155, 182, 255, 0);
    border: 1px solid rgba(155, 182, 255, 0);
}

.div-production img {
    width: 190px;
    height: 130px;
    /*border: 1px solid rgba(48, 57, 79, 0.52);*/
}

.div-production button {
    width: 200px;
    height: 200px;
    border: none;
    background-color: transparent;
}


.div-production:hover {
    box-shadow: 0 10px 10px -3px rgba(48, 57, 79, 0.52);
    border: 1px solid rgba(48, 57, 79, 0.10);
    border-radius: 10px;
}
.div-production:active {
    box-shadow: 0 10px 10px -3px rgba(48, 57, 79, 0.52);
    border: 1px solid rgba(48, 57, 79, 0.10);
    border-radius: 10px;
}
.description_production_admin {
    width: 600px;
    height: 400px;
}

.description_production_admin img {
    width: 100px;
    height: 200px;
}


.table-description-production{

}


.table-description-production img{
    width: 190px;
    height: 130px;
}